<ion-view view-title="Home" onload="refreshTimetable()">
	<ion-content padding="true">
		<!-- ion-refresher needs to be direct child of ion-content to work with native scrolling -->
		<ion-refresher pulling-text="{{ 'mm.core.pulltorefresh' | translate }}" ng-if="timetableLoaded" on-refresh="refreshTimetable()">
		</ion-refresher>
		<h6 class="today_heading">Tomorrow Timetable</h6>
		<table width="100%" class="timetable_table">
			<tr width="100%" class="timetable_tr" ng-repeat="tomtimetable in tomtimetable">
				<td class="timetable_td">
					<div class="time_timetable"><div class="side_heading">Timings</div><div>{{tomtimetable.classtime_start}}</div><div>to</div><div>{{tomtimetable.classtime_end}}</div></div>
					<div class="course_timetable"><div class="timetable_details"><div class="timetable_instructor"><span class="side_heading">Class Name</span></div><div class="timetable_instructor"><span class="side_heading">Class Type</span></div></div>
						<div class="timetable_details"><div class="timetable_instructor timetable_course">{{tomtimetable.classcode}}</div><div class="timetable_instructor">{{tomtimetable.classtype}}</div></div>
						<div class="timetable_details"><div class="timetable_instructor"><span class="side_heading">Instructorname</span></div><div class="timetable_instructor"><span class="side_heading">Class Room</span></div></div>
						<div class="timetable_details"><div class="timetable_instructor">{{tomtimetable.instructorname}}</div><div class="timetable_instructor">{{tomtimetable.classroom}}</div></div></div>
				</td>
			</tr>
		</table>
	
	</ion-content>
</ion-view>
