<ion-view view-title="Announcements">
    <ion-content padding="true">
        <!-- ion-refresher needs to be direct child of ion-content to work with native scrolling -->
        <ion-refresher pulling-text="{{ 'mm.core.pulltorefresh' | translate }}" ng-if="anouncementLoaded" on-refresh="refreshAnouncement()">
        </ion-refresher>
		
		
				<table width="100%" class="timetable_table events_top" >
			<tr width="100%" class="attendence_tr" ng-repeat="anouncement in anouncement">
			<td class="calender_td">
	<a ng-click="openurlannouncement({{anouncement.postid}});"><div class="announcement_div">
						{{anouncement.subject}}
					</div></a>
	<div class="announcement_div"><div class="announcement_div2"><span class="side_heading">Posted By:</span>{{anouncement.postuser_name}}</div><div class="announcement_div2"><span class="side_heading">Posted On:</span>{{anouncement.created_date}}</div></div>
	
					</td>
	</tr>
</table>
	<a ui-sref="site.mm_anouncementall" title="Announcements">View More</a>
         
    </ion-content>
</ion-view>
