<ion-view view-title="Home" onload="refreshWeekTimetable()">
	<ion-content padding="true">
		<!-- ion-refresher needs to be direct child of ion-content to work with native scrolling -->
		<ion-refresher pulling-text="{{ 'mm.core.pulltorefresh' | translate }}" ng-if="weektimetableLoaded" on-refresh="refreshWeektimetable()">
		</ion-refresher>
		<h6 class="today_heading">Week Timetable</h6>
		 <section ng-repeat="weektimetable in weektimetable">
			<div class="today_heading">{{weektimetable.day}}</div>
		<table width="100%" class="timetable_table">
			<tr width="100%" class="timetable_tr" ng-repeat="weektimetables in weektimetable.classlist">
				<td class="timetable_td">
					<div class="time_timetable"><div class="side_heading">Timings</div><div>{{weektimetables.classtime_start}}</div><div>to</div><div>{{weektimetables.classtime_end}}</div></div>
					<div class="course_timetable"><div class="timetable_details"><div class="timetable_instructor"><span class="side_heading">Class Name</span></div><div class="timetable_instructor"><span class="side_heading">Class Type</span></div></div>
						<div class="timetable_details"><div class="timetable_instructor timetable_course">{{weektimetables.classcode}}</div><div class="timetable_instructor">{{weektimetables.classtype}}</div></div>
						<div class="timetable_details"><div class="timetable_instructor"><span class="side_heading">Instructorname</span></div><div class="timetable_instructor"><span class="side_heading">Class Room</span></div></div>
						<div class="timetable_details"><div class="timetable_instructor">{{weektimetables.instructorname}}</div><div class="timetable_instructor">{{weektimetables.classroom}}</div></div></div>
				</td>
			</tr>
		</table>
		 </section>
	</ion-content>
</ion-view>
                                     
