<ion-view view-title="Announcements All">
    <ion-content padding="true">
        <!-- ion-refresher needs to be direct child of ion-content to work with native scrolling -->
        <ion-refresher pulling-text="{{ 'mm.core.pulltorefresh' | translate }}" ng-if="anouncementallLoaded" on-refresh="refreshAnouncementall()">
        </ion-refresher>
		
		
				<table width="100%" class="timetable_table events_top" >
			<tr width="100%" class="attendence_tr" ng-repeat="anouncementall in anouncementall">
				<td class="calender_td">
	<a ng-click="openurlannouncementall({{anouncementall.postid}});"><div class="announcement_div">
						{{anouncementall.subject}}
					</div></a>
	<div class="announcement_div"><div class="announcement_div2"><span class="side_heading">Posted By:</span>{{anouncementall.postuser_name}}</div><div class="announcement_div2"><span class="side_heading">Posted On:</span>{{anouncementall.created_date}}</div></div>
	
					</td>
	</tr>
</table>
	
         
    </ion-content>
</ion-view>
